<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CSS_UIUX_APPLICATION" parallel="tests" thread-count="3">
	<test name="CSS_JAVA_Regression_Suite">
		<parameter name="browser" value="CH" />
		<parameter name="excelPath" value="./src/test/resources/testdata.xlsx" />
		<classes>
		<class name="support.RunTests" />
		</classes>
	</test>
</suite>
